<%- include("partials/header.ejs") %>
<!-- <div class="background-img"></div> -->
<div class="row text-center background-img" style="padding-top:100px;display:flex; flex-wrap:wrap;">
    <% blogs.forEach(function(blogs){ %>
	<div class="card col-md-4 col-sm-6" style="height:fit-content;">
		<img class="card-img-top" src="<%= blogs.image %>">
		<div class="card-body" >
			<h5 class="card-title"><%= blogs.name %></h5>
			<p class="card-text"><%= blogs.description.substring(0,70) %>...</p>
			<a href="/blogs/<%= blogs._id %>" class="btn btn-primary">View full blog</a>
		</div>
	</div>
    <% }); %>
</div>

<hr style="margin: 50px 50px">
<a style="margin-left: 45%; margin-bottom: 50px" class="btn btn-info btn-lg" href="/blogs/new">Create a new Blog!</a>
<%- include("partials/footer.ejs") %>
